<%= error_messages_for 'metro' %>

<!--[form:metro]-->
<p><label for="metro_name">Name</label><br/>
<%= text_field 'metro', 'name'  %></p>

<p><label for="metro_state">State</label><br/>
<%= text_field 'metro', 'state'  %></p>

<p><label for="metro_country">Country</label><br/>
<%= text_field 'metro', 'country'  %></p>
<!--[eoform:metro]-->

