<div class="form_field"><label for="location_name">Name</label><br/>
<%= text_field 'location', 'name'  %></div>	

<div class="form_field"><label for="location_street">Street</label><br/>
<%= text_field 'location', 'street'  %></div>

<div class="form_field"><label for="location_zip">ZIP</label><br/>
<%= text_field 'location', 'zip'  %></div>
