<div class="form_field"><label for="location_description">Description</label><br/>
<%= text_field 'location', 'description'  %></div>

<div class="form_field"><label for="location_url">URL</label><br/>
<%= text_field 'location', 'url'  %></div>

<div class="form_field"><label for="location_email">Email</label><br/>
<%= text_field 'location', 'email'  %></div>

<div class="form_field"><label for="location_phone">Phone</label><br/>
<%= text_field 'location', 'phone'  %></div>
