<div class="form_field"><label for="location_name"><%= t(:name) %></label><br/>
<%= text_field 'location', 'name'  %></div>	

<div class="form_field"><label for="location_street"><%= t(:street) %></label><br/>
<%= text_field 'location', 'street'  %></div>

<div class="form_field"><label for="location_zip"><%= t(:zip) %></label><br/>
<%= text_field 'location', 'zip'  %></div>
