<div class="form_field"><label for="metro_name">Metro Name</label><br/>
<%= text_field 'metro', 'name'  %></div>	

<div class="form_field"><label for="metro_state">State</label><br/>
<%= text_field 'metro', 'state'  %></div>	

<div class="form_field"><label for="metro_county">Country</label><br/>
<%= text_field 'metro', 'country'  %></div>	
