<div class="form_field"><label for="metro_name"><%= t(:metro_name) %></label><br/>
<%= text_field 'metro', 'name'  %></div>	

<div class="form_field"><label for="metro_state"><%= t(:state) %></label><br/>
<%= text_field 'metro', 'state'  %></div>	

<div class="form_field"><label for="metro_county"><%= t(:country) %></label><br/>
<%= text_field 'metro', 'country'  %></div>	
