<div class="metro_name form_field">
	<label><%= t(:metro_name) %></label><br /><%= @metro.name %>
</div>
<div class="metro_state form_field">
	<label><%= t(:statte) %></label><br /><%= @metro.state %>
</div>
<div class="metro_country form_field">
	<label><%= t(:country) %></label><br /><%= @metro.country %>
</div>
<div>
	<%= hidden_field 'location', 'metro_id', {:value => @metro.id} %>
</div>